@import 'tailwindcss';

@theme {
	--color-primary: #171717;
	--color-background: #efefef;
	--color-footer: #46464610;

	--font-montserrat: 'Montserrat', 'serif';
	--font-grotesque: 'Bricolage Grotesque', 'sans-serif';
}

html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	@apply bg-background mx-auto;
}

* {
	/* @apply border-1 border-red-400 */
}
